<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrystalReportsChasseurDeTetes.Properties.Settings.ChasseurDeTeteConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ChasseurDeTete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>